.App {
  text-align: center;
  background: #f0f0ec;
}

.tile {
  padding-left: 13px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-left: 0;
}

/* large-screen */
@media screen and (min-width: 600px) {
  .tile {
    grid-template-columns: repeat(3, 1fr);
    padding-left: 0;
    gap: 1em 0;
  }
}
